html{height:100%;
  body {
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
    /*background-color: #000!important;*/
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow:hidden;
    #root{
      width:100%;
      height:100%;
      .router{
        width:100%;
        height:100%;
        .container{
          width:1280px;
          height:100%;
          margin:0px auto;
          text-align: center;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}